//logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//search
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center; // elemnts to be centred along vertical axis
  justify-content: center; // alows elemnts to be centred along horizontal axis

  @media only screen and (max-width: $bp-smallest) {
    order: 1; // alows element to become the last in order
    flex: 0 0 100%;
  }


  &__input {
    font-family: inherit;
    font-size: inherit;
    color: rgb(235, 34, 34);
    background-color: var(--greylight2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--greylight3);
    }

    &::-webkit-input-placeholder {
      font-weight: 300;
      color: rgb(151, 144, 144)
    }

  }

  &__button {
    border: none;
    background-color: var(--greylight2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }

  }

  // &__icon {
  //     height: 2rem;
  //     width: 2rem;
  //     fill: var(--greydark3);
  //    // background-color: rgb(49, 47, 47);  //should be removed later
  // }
}


// //user navigation
.user-nav {
  align-self: stretch; // alows element to fill up vertical space
  display: flex;
  align-items: center;

  &>* {
    // code for selecting user nav and direct children
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &>*:hover {
    background-color: var(--greylight2);
  }

  &__icon-box {
    display: flex;
    align-items: center;
    position: relative;

  }

  // &__icon {
  //     height: 2.25rem;
  //     width: 2.25rem;
  //     fill: var(--greydark2);
  //     //background-color: rgb(49, 47, 47);  //should be removed later
  // }

  &__notification {
    height: 1.75rem;
    width: 1.75rem;
    font-size: .8rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;

  }

}

// //side navigation
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      //not pseudo class
      margin-bottom: .5rem;

      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1; //so that the items will equally ocupy any give space 
    }
  }


  &__item::before {
    // pseudo element
    content: ""; // specifying this empty content allows the pseudo element to show
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-light);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .5s,
      width .4s cubic-bezier(1, 0, 0, 1) .2s,
      background-color .4s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: rgb(240, 60, 159)
  }



  &__link:link,
  &__link:visited {
    color: var(--greylight1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative; // z-index only works when position is specified
    z-index: 10;
    display: flex;
    align-items: center; //centering along the vertical axis

    @media only screen and (max-width: $bp-medium) {
      justify-content: center; //centering along the horizontal axis
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1rem;
    }

    @media screen and (min-width : 320px) and (max-width : 600px) {
      text-transform: lowercase;
    }

  }

  // &__icon {
  //     width: 1.75rem;
  //     height: 1.75rem;
  //     margin-right: 2rem;
  //     fill: currentColor;
  //    // background-color: currentColor;
  // }
}

// //legal
.legal {
  font-size: 1.2rem;
  color: var(--greylight4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

// //gallery
.gallery__photo {
  width: 33%;
  height: 100%;

  @media screen and (min-width : 300px) and (max-width : 600px) {
    margin-bottom: 75rem;
    width: 45%;
    margin-right: 1.8rem;

    :last-child {
      display: none;
    }

  }


}


// //hotel overview
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);


  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
      padding: 1.25rem 2rem;

    }

  }

  &__stars {
    margin-right: auto; // creates a space by the right side of the element and vice-versa
    display: flex; //to stay side by side
  }

  &__icon-star,
  &__icon-location {
    // icon-star and icon-location for same formating
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--primary);
    // background-color: grey; //to be removed later

  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: var(--primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch; //it will grow upandan to occupy a given space
    display: flex;
    flex-direction: column; // allows flex items to be arranged in a column
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;

    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;

    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;

    }
  }
}

// //button inline
.btn-inline {
  border: none;
  color: var(--primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  span {
    margin-left: .3rem;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--greydark1);
    // outline: none;
    // animation: pulsate 1s infinite;

    span {
      margin-left: .8rem;
    }
  }

  &:focus {
    // effect when button is stapped 
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    //begining
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    // middle
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
  }

  100% {
    // end
    transform: scale(1);
    box-shadow: none;
  }
}

// //paragraph
.paragraph {
  &:not(:last-of-type) {
    // applies to children of type of element
    margin-bottom: 1.5rem;
  }

}

// //list
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: "\003e";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    font-size: 1.5rem; //i added this
    font-weight: 600; //i added this
    margin-bottom: 1rem; //i added this
    color: var(--primary); //i added this

    //for older browsers
    //background-image: url(../SVG/chevron-right.svg);
    // background-size: cover;

    //newer browsers- masks
    // background-color: var(--primary);
    // -webkit-mask-image: url("img/chevron-thin-right.svg");
    // -webkit-mask-size: cover;
    // mask-image: url("img/chevron-thin-right.svg");
    // mask-size: cover;
  }
}

// //recommend
.recommend {
  font-size: 1.3rem;
  color: rgb(83, 80, 80);
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box; //allows the border to not affect the original size of the element/photos
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

// //reviews
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }


  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;

    // &::after {
    //     content: "\201D";
    // }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--greydark3);
  }

  &__rating {
    color: var(--primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    font-size: 20rem;
    color: var(--greylight2);
    top: -2.75rem;
    left: -.6rem;
    line-height: 1;
    z-index: 1;
  }

}

//call to action
.cta {
  // padding: 3.5rem 0;
  padding: 1rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 1.65rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

//cta button
.btn-premium-bottom {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden; //used to cut off overflowing content
  cursor: pointer;

  &>* {
    //to select child elements in cta..ie visi & invisible (dz curbs repetition)
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;

  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }


  &:hover {
    background-image: linear-gradient(to left, var(--primary-light), var(--primary-dark));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}